@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

header {
  a {
    text-decoration: none;
  }

  a:link {
    color: white;
  }

  a:visited {
    color: white;
  }

  a:hover {
    color: rgb(50, 150, 207);
  }

  a:active {
    color: white;
  }
}

.Header {
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr;
  grid-template-rows: 0.8fr;
  grid-template-areas: 'logo User navbar';
  background-color: rgba(40, 167, 118, 0.6);
  color: white;
  justify-items: flex-end;
  font-family: 'Comfortaa', cursive;

  .navbar {
    grid-area: navbar;
  }

  .navLink {
    margin-right: 1rem;
  }

  .logo {
    grid-area: logo;
    width: 18rem;
    margin-left: 0.5rem;
  }
}
